
@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .form-content {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(139, 132, 132);
    z-index: 1;
    opacity: 0.8;
  }
  #image-register{
    display: none;
  }
  .changepasswordform-content{
    width:100%;
  }
}
body{
  background-color: rgb(214, 205, 205);
}
*{
  box-sizing: border-box;
}
.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 0;
  background-color: #333;
}

.navigation-bar li {
  font-size: 20px;
  float: left;
}

.navigation-bar li a {
  display: block;
  font-size: larger;
  color: white;
  text-align: center;
  padding: 14px 14px;
  padding-top: 0;
  text-decoration: none;
}

.navigation-bar li a:hover {
  height: 55px;
  background-color: #111;
}

.navigation-bar{
  width: 100%;
  background-color: rgb(83, 88, 86);
}

.navigation-bar ul{
  padding-top: 0;
  margin: 0;
  position: relative;
  height: 50px;
}
.navigation-bar ul li{
  padding-top: 4px;
 display: inline;
}

a{
  text-decoration: none;
  color: aliceblue;
}
a:hover{
  color: #e98d71;
}
@media only screen and (min-width: 700px){

.form-content{
  position: absolute;
  top:100px;
  left: 500px;
  padding: 40px;
  border: 3px solid #73AD21;
  border-radius: 10px;
  background-color: rgb(139, 132, 132);
  z-index: 1;
  opacity: 0.8;
}
.changepasswordform-content{
  position: fixed;
  top: 20%;
  left:30%;
  padding: 30px;
  width: 400px;
  height: 400px;
  background-color: aliceblue;
  border: 3px solid #73AD21;
}

}
label{
  position: relative;
  text-align: center;
}
.form-content h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.form-content h2{
  text-align: center;
}
 
.row {
  display: flex;
}
.form-content input[type='text'],input[type='password']{
  position: relative;
  width: 100%;
  border-radius: 5px;
  height: 40px;
  background-color: rgb(161, 221, 201);
}
.form-content input[type='submit']{
  position: relative;
  width: 100%;
  border-radius: 5px;
  height: 40px;
  background-color: #8feb0f;
}

.form-content input[type='submit']:hover{
  position: relative;
  width: 100%;
  border-radius: 25px;
  height: 40px;
  background-color: #e76a04;
}
label{
  font-size: 25px;
}
.form-content input[type='radio']{
  height: 20px;
  width: 20px;
}
.form-content input[type='checkbox']{
  height: 20px;
  width: 20px;
  }

.container{
  display:flex;
  background-color: rgb(255, 255, 255);
}
.column1{
  flex:20%;
  height: auto;
  background: rgb(117, 116, 116);
}
.column2{
  flex:80%;
}
.show {
  margin-top: 100px;
margin: auto;
width: auto;
height: 1000px;
padding-top: 5%;
border: 3px solid #73AD21;
font:1000;
font-size: larger;
text-align: center;
}
.dimag{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
}

.column3{
  flex:50%;
  
}
#new{
  text-align: center;
  font-size: larger;
}
.arrange{
  margin: auto;
  text-align: center;
  width: 500px;
  border: 10px solid rgb(206, 206, 179);
  padding: 20px;
  margin-top: 20px;
  box-shadow: 3px 3px 5px 7px rgb(18, 18, 19);
  background-color: rgb(155, 182, 182);
}
.arrange div{
  position: relative;
  width: 100%;
  font-size: 30px;
  color: #8c57b8;
}
.arrange button{
  width: 100%;
  height: 40px;
}
.arrange div h1{
  color: #ec8282;
  text-align: center;
}
#clickme{
  width: 100px;
  height: 40px;
  background-color: #44d157;
}
#change_password{
  float: right;
  width: 120px;
  height: 40px;
  background-color: #44d157;
}
#change_password:hover{
  box-shadow:3px 3px 3px 5px #d0eed4;
  width: 120px;
  height: 40px;
}
#clickme:hover{
  box-shadow:3px 3px 3px 5px #d0eed4;
  width: 100px;
  height: 40px;
  
}

#warning{
  color: red;
  font-style: italic;
}

.changepasswordform-content h2{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.changepasswordform-content input[type='submit']{
  width: 100%;
  height: 40px;
  background-color: #e76a04;
}

/* Create two equal columns that sits next to each other */
/*
.column {
  flex: 50%;
  padding: 10px;
  height: auto; 
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(93, 195, 241);
  }

  a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }


.row{
  width: 100px;
  height: 100px;
  border: 1px solid red;
  margin-right: 10px;
  float: left;
}
.column {
  float: left;
  margin-right: 5px;
}
.inside{
  background-color: #111;
}



.entity{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 10px ;
  font-size: larger;
  text-align: center;
  content: 12px;
  box-shadow: 1px 1px 5px 2px lightblue;
}
*/